<div class="container-fluid mt-2 pt-2">
    <div class="row">
        <div class="col bg-white">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2">
                <div class="row">
                    <div class="col-3">
                        <button class="p-2 text-white"
                            style="background-color: blue; border: none; border-radius: 5px;">
                            <b>L</b>
                        </button>
                    </div>
                    <div class="col-9 pt-2">
                        <b>Logo</b>
                    </div>
                </div>

                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start mt-4 pt-4"
                    id="menu">
                    <li>
                        <a class="nav-item active px-0 p-3 align-middle">
                            <span class="mdi mdi-view-dashboard" style="color: blue;"></span>
                            <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>

                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 p-3 align-middle">
                            <span class="mdi mdi-folder-outline"></span> <span
                                class="ms-1 d-none d-sm-inline">Classes</span></a>
                    </li>
                    <li>
                        <a class="nav-link px-0 p-3 align-middle ">
                            <span class="mdi mdi-folder-outline"></span> <span
                                class="ms-1 d-none d-sm-inline">Resources</span></a>

                    </li>
                    <li>
                        <a class="nav-link px-0 p-3 align-middle">
                            <span class="mdi mdi-folder-outline"></span> <span class="ms-1 d-none d-sm-inline">Learning
                                plan</span> </a>

                    </li>
                    <li>
                        <a class="nav-link px-0 p-3 align-middle">
                            <span class="mdi mdi-message-outline"></span> <span
                                class="ms-1 d-none d-sm-inline">Chat</span> </a>
                    </li>
                    <li>
                        <a class="nav-link px-0 p-3 align-middle">
                            <span class="mdi mdi-folder-outline"></span> <span
                                class="ms-1 d-none d-sm-inline">Settings</span> </a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col mt-5 pt-5">
            <div class="card w-100">
                <div class="card-body text-center">
                    <img src="assets/img/sidebar.PNG" class="img-fulid" style="margin-top: -45%;">
                    <h6 style="color: gray;">Upgrade to <b style="color: black;">PRO</b> for more resources</h6>
                    <button class="p-2 text-white"
                        style="background-color: #9c8ce6; border: none; border-radius: 1rem;">
                        Upgrade
                    </button>
                </div>

            </div>
        </div>
    </div>

</div>