<div class="container-fluid mt-2 pt-2">
    <div class="row">
        <div class="col-6">
            <h6>Lagout</h6>
        </div>
        <div class="col-6 text-end">
            <span class="mdi mdi-login-variant"></span>
        </div>
        <div class="row text-center justify-content-center">
            <div class="position-relative">
                <img src="assets/img/Capture.PNG" alt="..." class="img-fluid w-50">

                <span class="position-absolute  translate-middle p-2 border border-light rounded-circle"
                    style="bottom: -6px!important;right: 109px; background-color: #6182ee; padding-left: 12px !important; padding-right: 12px !important;">
                    <span class="mdi mdi-plus text-white"></span>
                    <span class="visually-hidden">New alerts</span>
                </span>
            </div>

            <!-- <img src="assets/img/Capture.PNG" alt="..." class="img-fluid w-50"> -->
            <h6 class="pt-2"><b>Anna Marrison</b><br>
                <span style="color: gray;">Student</span></h6>
        </div>
    </div>
    <div class="row mt-3 pt-3">
        <div class="col-2 pt-2">
            <button class="p-2 text-black" style="background-color: lightgrey; border: none; border-radius: 5px;">
                <b>B2</b>
            </button>
        </div>
        <div class="col-7">
            <span class="text-black"><b>English</b></span><br>
            <span class=" font-weight-bold" style="color: grey;">High intermediate</span>
        </div>
        <div class="col-3">
            <div class="progress mt-3" style="height: 5px;">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                    aria-valuemax="100" style="background-color: blue; width: 60%;"></div>
            </div>
        </div>
    </div>
    <div class="row mt-2 pt-2">
        <div class="col-2 pt-2">
            <button class="p-2 text-black" style="background-color: lightgrey; border: none; border-radius: 5px;">
                <b>C1</b>
            </button>
        </div>
        <div class="col-7">
            <span class="text-black"><b>Spanish</b></span><br>
            <span class=" font-weight-bold" style="color: grey;">Advanced</span>
        </div>
        <div class="col-3">
            <div class="progress mt-3" style="height: 5px;">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                    aria-valuemax="100" style="background-color: blue; width: 80%;"></div>
            </div>
        </div>
    </div>
    <div class="row mt-3 pt-3">
        <div class="col-6">
            <h6><b>Reminders</b></h6>
        </div>
        <div class="col-6 text-end">
            <span class="mdi mdi-bell-outline" style="color: gray;"></span>
        </div>
    </div>
    <div class="overflow-hidden">
        <div class="row mt-2 pt-2">
            <div class="col-2 pt-2">
                <button class="p-2 text-black"
                    style="background-color: rgb(235, 177, 177);  border: none; border-radius: 5px;">
                    <span class="mdi mdi-alert-circle-outline" style="color: red;"></span>
                </button>
            </div>
            <div class="col-10">
                <span class="text-black"><b>Eng - Vocabulary test</b></span><br>
                <span class=" font-weight-bold" style="color: grey;">24 sep 2019,Friday</span>
            </div>
        </div>
        <div class="row mt-2 pt-2">
            <div class="col-2 pt-2">
                <button class="p-2 text-black"
                    style="background-color: rgb(148, 155, 250); border: none; border-radius: 5px;">
                    <span class="mdi mdi-email-outline" style="color: blue;"></span>
                </button>
            </div>
            <div class="col-10">
                <span class="text-black"><b>Eng - Send grammer homework</b></span><br>
                <span class=" font-weight-bold" style="color: grey;">29 sep 2019, Monday</span>
            </div>
        </div>
        <div class="row mt-2 pt-2">
            <div class="col-2 pt-2">
                <button class="p-2 text-black"
                    style="background-color: rgb(148, 155, 250); border: none; border-radius: 5px;">
                    <span class="mdi mdi-email-outline" style="color: blue;"></span>
                </button>
            </div>
            <div class="col-10">
                <span class="text-black"><b>Spanish - Send essey</b></span><br>
                <span class=" font-weight-bold" style="color: grey;">05 Oct 2019,Monday</span>
            </div>
        </div>
    </div>

</div>